Hi <%= @user.email %>,

<p>Welcome to Questionary! Here is your activation code:</p>
<p><%= @user.activation_token %></p>

<p>Follow the link below to activate your account using your code. 
</p>

<%= new_account_activation_url %>