<h1>Questionary</h1>

<p>Hi <%= @user.email %>,</p>

<p>Welcome to Questionary! Here is your activation code:</p>
<p><%= @user.activation_token %></p>
<p>Follow the link below to activate your account using your code. 
</p>

<%= link_to "Activate", new_account_activation_url %>