
<h1>Password reset</h1>

<p>Here is your new temporary password:</p>

<%= @user.reset_token %>

<p>Please log into your account with this password, and then change it to something more memorable in your account settings.</p>

<p>
If you did not request your password to be reset, please ignore this email and
your password will stay as it is.
</p>