Here is your new temporary password:

<%= @user.reset_token %>

Please log into your account with this password, and then change it to something more memorable in your account settings.

If you did not request your password to be reset, please ignore this email and
your password will stay as it is.